  .layout_container{
    height: 1000px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
  }

  .layout_nav{
    display: flex;
    justify-content: center;
    gap: 20px;
    background-color: #7cff5e;
    padding: 15px 0;
  }
  
  .layout_nav > a {
    color: black;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
  }
  
  .layout_nav > a:hover {
    text-decoration: underline;
  }

  
  .layout_footer {
    text-align: center;
    padding: 10px 0;
    background-color: #7cff5e;
    margin-top: 20px;
  }
  